<% provide :title, t(:new_course)%>
<div class="center">
  <h1><%= t :new_course %></h1>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for [:supervisor, @course] do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>

      <%= f.label :start_date %> <br>
      <%= f.date_select :start_date, class: "form-control" %> <br>

      <%= f.label :end_date %> <br>
      <%= f.date_select :end_date, class: "form-control" %> <br>

      <%= collection_check_boxes :course, :subject_ids, Subject.all, :id, :name %><br/>

      <%= f.submit t(:add_new_course), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
