<div>
  <%= render "shared/trainee_progress" %>
</div></br>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title"><%= t :trainee_details_text %></h2>
    </div>
    <div class="panel-body">
      <h3><%= t :name_text_supervisor %> <%= @user.name %></h3>
      <p><%= t :email_text_supervisor %> <%= @user.email %></p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title"><%= t :activity_text %></h2>
    </div>
    <div class="panel-body">
      <%= render "shared/activity_trainee_show" %>
    </div>
  </div>
</div>